.Buttons{
    display: flex;
    flex-direction: column;

    justify-content: center;
    position: absolute;
    right: 30px;
}

@media only screen and (max-width: 600px) {
   .Buttons{
     position: absolute;
     bottom: 8%;
     right: 2%;
    }
  
  }